body{
	background-color: bisque;
}
fieldset{
	border:1px solid black;
	padding:30px;
	margin:30px;
}
legend {
	padding: 2px 5px;
	border:1px solid black;
	color:black;
	font-size:70%;
	text-align:left;
}